@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div style="margin-top: 200px">
    <h2>Вы успешно создали сайт!</h2>
    <h3>Ссылка на него <a id="userLink"></a>
    </h3>
    @*<a id="redirectUrl" onclick="goOnNewPage(this)">Перейти на созданную страницу в новой вкладке</a><br/>*@
    <a href="@(Url.Action("Users","Home") + "?userName=" + @ViewBag.UserName)" onclick="goOnNewPage(this)">Перейти к информации о пользователе</a>
</div>

@section Scripts
{
    <script>
        $("#userLink").attr('href', window.GetUrl('@ViewBag.UserName', ''));
        $("#redirectUrl").attr('href', window.GetUrl('@ViewBag.UserName', ''));
        $("#userLink").text(window.GetUrl('@ViewBag.UserName', ''));

        function goOnNewPage(node) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SignoutJson", "Account")',
                success: function() {
                    window.open(node.href, '_blank');
                    return false;
                }
            });
        }
    </script>
}

