@model bbom.Admin.Core.ViewModels.Post.PostCreateViewModel
@{
    bool isEdit = Model != null;
    ViewBag.Title = (isEdit ? "Изменить" : "Создать") + " пост";
}
<div class="panel panel-primary" style="margin-top: 20px">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @using (Html.BeginForm((isEdit ? "Update" : "Create"), "Posts", FormMethod.Post, new { role = "form" }))
        {
            if (isEdit)
            {
                @Html.HiddenFor(m => m.Id)
            }
            <h4 style="color: red;">@Html.ValidationSummary()</h4>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", id = "name", style = "min-width:100px;max-width:300px;" })<br />
            //
            @Html.LabelFor(m => m.TypeId)
            @Html.DropDownListFor(m => m.TypeId, (IEnumerable<SelectListItem>)ViewBag.Types, new { @class = "form-control", style = "min-width:100px;max-width:300px;" })<br />
            //
            @Html.LabelFor(m => m.Text)
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control", id = "name", style = "min-width:100px;max-width:300px;" })<br />
            <input id="modal_button_submit" type="submit" value="@(isEdit ? "Изменить" : "Создать")" class="btn btn-primary" />
        }
    </div>
</div>