@using bbom.Data.ContentModel
@using bbom.Data.IdentityModel
@using MvcCheckBoxList.Model
@model bbom.Admin.Core.ViewModels.Users.UserMenagerViewModel
<h1>UserMenager: @Model.User.UserName</h1>
<img id="userImage" style="display: none; height: 200px" src='@(Url.Action( "GetProfileUserImage", "Manage") + "?userId=" + @Model.User.Id)' />
<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel panel-heading">Настройка ролей</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("SaveRoles", "Manage", null, new AjaxOptions
        {
            Url = Url.Action("SaveRoles", "Manage"),
            OnSuccess = "onNotify",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            AllowCache = true
        }))
        {
            //@Html.AntiForgeryToken()
            @Html.Hidden("UserId", Model.User.Id)
            @Html.CheckBoxListFor(
                x => x.PostedRoles.RoleIDs,
                x => x.AvailableRoles,
                y => y.Name,
                y => y.Name,
                y => Model.SelectedRoles.Contains(y), 
                Position.Vertical)
            <br />
            <br />
            <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
        }
    </div>
</div>
<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel panel-heading">Полученные скидки</div>
    <div class="panel-body">
        @foreach (var dis in (ICollection<Discount>)ViewBag.Dis)
        {
            <strong>@dis.Name</strong>
            <br/>
        }
    </div>
</div>
<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel panel-heading">Платежи</div>
    <div class="panel-body">
        @foreach (var pay in (ICollection<Payment>)ViewBag.Payments)
        {
            <strong>@pay.PaymentPlan.Name</strong>
            <strong>@pay.Amount</strong>
            <br />
        }
    </div>
</div>
<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel panel-heading">Созданные события</div>
    <div class="panel-body">
        @foreach (var ev in (ICollection<Event>)ViewBag.Events)
        {
            <strong>@ev.Title</strong>
            <br />
        }
    </div>
</div>
<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel panel-heading">Спикер</div>
    <div class="panel-body">
        @foreach (var ev in (ICollection<Event>)ViewBag.Spiker)
        {
            <strong>@ev.Title</strong>
            <br />
        }
    </div>
</div>