<style>
    .tablBtn {
        margin: 5px;
    }
</style>
<div class="panel panel-primary" style="margin-top: 20px">
    <div class="panel-heading">Ваши регистраторы</div>
    <div class="panel-body">
        <div>
            <table id="regs" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Действия
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document)
            .ready(function() {
                var table = $('#regs')
                    .DataTable({
                        pageLength: 10,
                        ajax: {
                            url: '@Url.Action("GetAllByUser", "Registrators")',
                            dataSrc: ''
                        },
                        buttons: [
                            {
                                text: 'Создать',
                                titleAttr: 'Создать',
                                action: function() {
                                    window.location = '@Url.Action("Create", "Registrators")';
                                }
                            }
                        ],
                        dom: 'Bfrtip',
                        select: false,
                        columnDefs: [
                            {
                                targets: 2,
                                data: null,
                                width: '30%',
                                defaultContent:
                                    "<a class=\"btn btn-primary tablBtn edtbtn\" style=\"font-size: 13px\">Изменить</a><a class=\"btn btn-primary delbtn tablBtn\" style=\"font-size: 13px\">Удалить</a><a class=\"btn btn-primary watch tablBtn\" style=\"font-size: 13px\">Посмотреть</a>"
                            }
                        ]
                    });
                $('#regs tbody')
                    .on('click',
                        '.edtbtn',
                        function() {
                            var id = table.row($(this).parents('tr')).data()[0];
                            window.location = '@Url.Action("Edit", "Registrators")' + "/" + id;
                        });
                $('#regs tbody')
                    .on('click',
                        '.delbtn',
                        function() {
                            var id = table.row($(this).parents('tr')).data()[0];
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("Delete", "Registrators")",
                                data: {
                                    id: id
                                },
                                success: function(json) {
                                    window.notify(json);
                                }
                            });
                        });
                $('#regs tbody')
                    .on('click',
                        '.watch',
                        function() {
                            var id = table.row($(this).parents('tr')).data()[0];
                            window.location = '@Url.Action("Register", "Registrators")' + "/" + id;
                        });
            });
    </script>

}